
.logo{
    display: block;
    max-width: 100%;
    height: 100px;
  }

  .flags{
    display: block;
    justify-content: space-around;
    margin-right: 40px;
    width: 30px;
    height: 20px;
  }

.header-left-side{
  text-align: left;
  font-weight: bold;
  color: black;
}
.header-right-side{
    text-align: right;
    font-weight: bold;
    color: black;
}
#banner{
    border-color: whitesmoke;
    border-style: solid;
    border-width: 4px;
}
.topContainer{
    margin-top: 150px;
}

#sectionBeneficios{
    background-color: #3374DB;
    padding-left: 10%;
    padding-right: 10%;
}

#sectionPlan{
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
}
.benefitsList > *{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

.footerLogo{
    width: 12vw;
    height: auto;
    filter: brightness(0) invert(1);

}

a{
    color: white;
    text-decoration: none; /* no underline */
}